* {
  box-sizing: border-box;
}
body {
  background-image: url(https://i.pinimg.com/736x/ea/dd/b2/eaddb29a61d8712b255a34032d559d33.jpg);
  display: flex;
  flex: 1 1 0;
  justify-content: center;
}
body .content img {
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.585);
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.content {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.box {
  text-align: center;
  font-size: 30px;
  max-width: 980px;
  margin: 0 auto;
}
.nav img {
  width: 100px;
  height: 100px;
  border-radius: 30%;
}
.nav a {
  text-decoration: none;
  color: white;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding: 15px 0 5px 0;
  margin-bottom: 10px;
  font-size: 40px;
}
.nav {
  display: flex;
  flex-direction: column;
}
.nav a:hover {
  color: rgba(17, 16, 16, 0.715);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
footer {
  background-color: rgba(255, 255, 255, 0.227);
  display: flex;
  height: 290px;
  max-height: 500px;
}
.footera {
  font-size: 40px;
  padding: 20px;
  align-items: center;
  padding-top: 50px;
  padding-left: 20px;
}
.footerb img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.257);
}
.footerb a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footerb {
  padding: 20px;
  border-left: 2px solid rgba(0, 0, 0, 0.412);
  height: 290px;
  margin-left: auto;
  padding-left: 30px;
}
.footerc img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.257);
}
.footerc {
  padding: 20px;
  padding-right: 30px;
}
.footerc a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.pad {
  padding-top: 15px;
}
